<header>
  <div class="header-container">
  
    <a href="/" class="header-logo">Game.com</a>

  >
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><a href="#" class="header-nav-item">Home</a></li>
        <li><a href="#" class="header-nav-item">Games</a></li>
        <li><a href="#" class="header-nav-item">New Releases</a></li>
        <li><a href="#" class="header-nav-item">Top Rated</a></li>
        <li><a href="#" class="header-nav-item">Contact</a></li>
      </ul>
    </nav>

   
    <div class="header-actions">
      <a href="#" class="header-action-btn">Login</a>
      <a href="#" class="header-action-btn signup">Sign Up</a>
    </div>

    
    <div class="mobile-menu-icon">
      <i class="fas fa-bars"></i>
    </div>
  </div>

 
  <div class="mobile-menu-overlay">
    <ul class="mobile-menu-list">
      <li><a href="#" class="mobile-menu-item">Home</a></li>
      <li><a href="#" class="mobile-menu-item">Games</a></li>
      <li><a href="#" class="mobile-menu-item">New Releases</a></li>
      <li><a href="#" class="mobile-menu-item">Top Rated</a></li>
      <li><a href="#" class="mobile-menu-item">Contact</a></li>
    </ul>
  </div>
  
</header>
